:root {
    --blue :       #217fad;
    --bluehover:   #014f86;
    --red:       #e56b6f;
    --redhover:  #d81159;
    --orange:      #fbb13c;
    --orangehover: #fb8500;
    --green:        #6FC8C3;
    --greenhover:   #45c584;
    --lightblue:   #CCE9F6;
    --grisclair:   #f1f1f1;
}
* {
    font-family: "Noto Sans", sans-serif;
}            
body {
    margin: 0;
    padding: 0;
    background: var(--lightgray);
}
a {
    color:var(--blue);
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
a:hover {
    color:var(--bluehover);
}
table {
    width: 100%;
    border-collapse: collapse;
}
table thead tr {
    background:var(--blue);
    color:white;
    font-weight: 700;
}
table thead tr td {
    padding: 5px 10px;
    font-size: 16px;
}
table tbody tr td {
    vertical-align:top;
    padding: 5px 10px;
    font-size: 14px;
}
table tbody tr td.pubpeer, table tbody tr td.doi, table tbody tr td.retraction, table tbody tr td.eoc {
    font-size: 12px;
}
table tbody tr td.title {
    font-weight: 600;
}
table tbody tr {
    border-bottom: 1px solid #c1c1c1;
}            
#articles_wrapper .grid-x:nth-child(1) .cell.auto {
    float: left;
    margin-bottom: 20px;
}
#articles_wrapper .grid-x:nth-child(1) .cell.shrink {
    float: right;
    margin-bottom: 20px;
}            
#articles_wrapper .grid-x:nth-child(3) .cell.auto {
    float: right;
    margin-bottom: 20px;
}
#articles_wrapper .grid-x:nth-child(3) .cell.shrink {
    float: left;
    margin-bottom: 20px;
}            
ul.pagination li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}            
h1 {
    text-align: center;
    color: var(--blue);
    font-weight: 900;
    display: table;
    margin: 0 auto;
}
td.retraction a {
    color:var(--red);
}
td.retraction a:hover {
    color:var(--redhover);
}
td.eoc a {
    color:var(--orange);
}
td.eoc a {
    color:var(--orange);
}
td.eoc a:hover {
    color:var(--orangehover);
}
td.pubpeer a {
    color:var(--green);
}
td.pubpeer a:hover {
    color:var(--greenhover);
}
input[type="submit"] {
    background: var(--blue);
    color: white;
    padding: 5px 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;	
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
input[type="submit"]:hover {
    background: var(--bluehover);
}
.results {
    float:right;
    font-weight: 600;
}
.filterReset {
    position: relative;
    left: 20px;
}
.filterReset img {
    height: 28px;
}
input[type=username]::placeholder, input[type=text]::placeholder, input[type=password]::placeholder, input[type=search]::placeholder {
    color:var(--blue);
}
select, input[type=search], input[type=username], input[type=text], input[type=password] {
    background:var(--lightblue);
    color:var(--blue);
    border:none;
    padding: 4px;
    border-radius: 3px;
}
select option {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
select option:hover {
    background: var(--blue);
    color: white;
}
.clear {
    width: 100%;
    clear: both;
}
.perPageLabel {
    float:right
}
.txtSearchLabel {
    float:left;
}
.txtSearchLabel, .perPageLabel {
    margin-top:10px;
    margin-bottom:10px;
}
ul.pagination li.current {
    font-weight: 600;
}
.loadingOverlay, .detailsLoader {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loadingText {
    margin-left: 20px;
}
#mainContainer {
    opacity:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}      
#main {
    padding: 10px;
}            
.sortArrow {
    float:right;
    display: flex;
}
.sortArrow img {
    width: 12px;
    opacity: 0.6;
}
.sortArrow.active img {
    opacity: 1;
}
.sortArrowasc {
    position: relative;
    right: 0;
    top: -17px;
}
.sortArrowdesc {
    position: relative;
    right: -12px;
    top: -5px;
}
span.tableHeader {
    float: left;
    width: calc(100% - 20px);
    margin-right: 20px;
    position: relative;
    top: 4px;
}
span.tableHeader.tableHeaderAuthors {
    top: -1px;
}            
td.pubDate {
    white-space: nowrap;
}
.menuToggle {
    display: block;
    cursor: pointer;
    position:relative;
    z-index:6;
    top: 10px;
    left: 10px;
    width: 27px;
    height: 27px;
}
.articleDetailsClose {
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 7;
    top: 10px;
    right: 20px;
    width: 27px;
    height: 27px;
}
.bar1, .bar2, .bar3, .bar45-1, .bar45-2 {
    width: 35px;
    height: 5px;
    background-color: var(--blue);
    margin: 6px 0;
    transition: 0.4s;
	border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
.bar45-1, .bar45-2 {
    position: relative;
    top: 0;
    display: inline-flex;
}
.menuToggle:hover .bar1, .menuToggle:hover .bar2, .menuToggle:hover .bar3  {
    background-color: var(--bluehover);
}
.open .bar1, .bar45-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3, .bar45-2 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
#menu {
    width:0;
    height:0;
}
.menuArea {
    position: absolute;
    right: 55px;
}
#menu.open {
    display:block;
}
.menuInside {
    padding:50px 10px 0 10px;
}
.menuContainer {
    width: 0;
    background: var(--lightblue);
    height: 100vh;
    position: absolute;
    top: -5px;
    padding: 0;
    z-index: 5;
    overflow: hidden;
    right: -70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
#menu.open .menuContainer {
    width: 400px;
    max-width: 100vw;
}
#menu h2 {
    opacity: 0;    
    white-space: nowrap;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
#menu.open h2 {
    opacity: 1;
}
#graphYearsContainer, #graphJournalsContainer {
    width: 74% !important;
}
#tableYearsContainer {
    width: 24% !important;
}
#tableYearsContainer, #graphYearsContainer, #graphJournalsContainer {
    display: inline-block !important;
    vertical-align: top;
    margin-top: 20px;
}
#tableRetractedContainer {
    width:90%;
    margin: 20px 5%;
    vertical-align: top;
}
.tableRetracted {
    width: 100%;
}
.tableRetracted tr td {
    vertical-align: top;
}
.tableRetracted tr td:nth-child(1){
    width: 5%;
}
.tableRetracted tr td:nth-child(2){
    width: 20%;
}
.tableRetracted tr td:nth-child(3){
    width: 40%;
}
.tableRetracted tr td:nth-child(4){
    width: 20%;
    text-align: center;
}
.tableRetracted tr td:nth-child(5){
    width: 15%;
    text-align: center;
}
.tableYears {
    width: 350px;
    margin: 30px auto;
}
.logo {
    float: left;
}
.logo img {
    width: 180px;
	margin-right: 40px;
}
form#loginForm input {
    display: block;
    margin-bottom: 20px !important;
}
.loginContainer {
    width: calc(100vw - 20px);
    height: calc(100vh - 100px);    
    position: absolute;
}
.loginWrapper {
    display: table;
    margin: 45vh auto 0 auto;
    transform: translateY(-50%);
}
form#loginForm {
    padding: 20px 20px 0 20px;
    border: 1px solid var(--blue);
    border-radius: 3px;
}
.loginError {
    color:var(--red);
    margin-bottom: 20px;
    display: block;
}
.menuUser {
    margin: 0 10px;
    position: absolute;
    bottom: 40px;
    width: calc( 100% - 20px)
}
.menuUsername {
    float: left;
}
.menuLogout {
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}
.menuLogout img {
    width: 32px;
    position: absolute;
    right: 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
.menuLogout img.hover {
    display:none;
}
.menuLogout:hover img.hover {
    display:block;
}
.menuLogout:hover img.nohover {
    display:none;
}
td.retraction, td.eoc {
    white-space: nowrap;
}
#passwordView .hover {
    display:none;
}
#passwordView:hover .hover {
    display:block;
}
#passwordView:hover .nohover {
    display:none;
}
#passwordView {
    position: absolute;   
    right: 15px;
    margin-top: 5px;
    cursor:pointer;
}
#passwordView img {
    width: 32px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
input#password {
    float: left;
    margin-right: 35px;
}
#password, #passwordView {
    display: inline-block;
}
.filterReset img {
    position:absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}
.filterReset .hover {
    display:none;
}
.filterReset:hover .hover {
    display:inline;
}
.filterReset:hover .nohover {
    display:none;
}
#filterAuthor, #filterJournal {
    margin-bottom: 10px;
}
.articleDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 96%;
    background: white;
    z-index: 6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
    overflow-x:hidden;
}
.articleDetails.open {
    width:96%;    
    padding: 2%;
}
.noScroll {
    overflow:hidden;
}
h2.pubJournalDetails {
    text-align: center;
    font-style: italic;
    margin:0;   
}
p.pubDateDetails {
    text-align: center;
    margin: 0;
    padding: 0;
}
.articleDetails iframe {
    width: 100%;
    height: 50vh;
    border: 5px solid var(--blue);
    margin-top: 20px;
}
.pubDetailsRetracted a {
    color:var(--red);
    fsont-weight: 600;
}
.pubDetailsRetracted a:hover {
    color:var(--redhover)
}
.pubDetailsEoc a {
    color:var(--orange);
    font-weight: 600;
}
.pubDetailsEoc a:hover {
    color:var(--orangehover)
}
input#txtSearch {
    width: 400px;
}
.pubpeerLink .hover {
    display:none;
}
.pubpeerLink:hover .hover {
    display:inline-block;
}
.pubpeerLink:hover .nohover {
    display:none;
}
.pubpeerLink img {
    height:15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: 0.5s ease;
    transition: all 0.5s ease;
}